body, html {
	font-size:14px;
}
h2 {
	font-size: 1em;
	line-height: 1.5em;
	font-weight: normal;
	text-transform: uppercase;
}
h3 {
	font-size: .8em;
	line-height: 1.5em;
	color: grey;
	font-weight: normal;
	text-transform: uppercase;
}
a { text-decoration: none;}

.logo-item {
	position: fixed;
	z-index: 9;
	height: 3em;
	margin-top: .5em;
}
/*** Menu & Footer ***/
.menu-btn {
	cursor: pointer;
}
.pac-menu {
	background: white;
	/*padding: .5em 1em 1em .5em;*/
}
.pac-menu > div {
    padding: .5em 1em .5em 3.5em;
}
/*.pac-menu div {
	padding: .5em 1em 1em .5em;
}*/
.child-menu {
	display: none;
	border: 1px solid;
	border-width: 0 0 1px 0;
	background: white;
	padding-top: .5em;
}
.sub-child-menu {
	display: none;
}
/*.child-menu.open.pac-menu {
	border: 1px solid;
	border-width: 0 0 1px 0;
}*/
/*.child-menu,
.sub-child-menu {
	max-height: 0;
	overflow: hidden;
}*/
/*.child-menu.open,
.sub-child-menu.open {
	max-height: 22ex;
}*/
.menu-item,
.footer-item,
.menu-search-item { text-transform: uppercase; }

.menu-item a,
.footer-item a {
	display: inline-block;
	text-decoration: none;
}


.menu-item a,
.footer-item a {
	border: 1px solid;
}

.menu-wrapper {
	/*position: fixed;*/
	width: 100%;
	z-index:2;
}

.pac-content-padding {
    /*padding-top: 13.5em;*/
    padding-bottom: 6em;
}



.banner-main {
	height: 30vh;
	font-size: 2em;
    font-weight: 500;
	background: url(../images/gallery/image-0.png) center no-repeat;
	background-size: cover; 
}
.banner-secondary {
	height: 30vh;
	background: grey;
	/*background-size: cover; */
}

.pac-grid1-container {

}
.pac-grid1-item {
	background-size: contain !important;
	background-position: center;
    background-repeat: no-repeat;
}

.pac-grid1-hidden-text {
	position: relative;
	z-index: 2;
	opacity: 0;
}
.pac-grid1-hidden-text:hover {
	position: relative;
	z-index: 2;
	opacity: 1;
}
.pac-img-grid-text-quote {
	font-size: 1.33em;
}


/*** Icons & images ***/
/*.bb-logo {
	background: url(../images/bb-logo.jpg) top no-repeat;

}*/

.sample-image {
	background-image: url(../images/gallery/image-5.jpg);
}
.sample-image-0 {
	background-image: url(../images/gallery/img-mock-00.png);
}
.sample-image-1 {
	background-image: url(../images/gallery/img-mock-01.png);
}
.sample-image-2 {
	background-image: url(../images/gallery/img-mock-02.png);
}
.sample-image-3 {
	background-image: url(../images/gallery/img-mock-03.png);
}
.sample-image-4 {
	background-image: url(../images/gallery/img-mock-04.png);
}
.sample-image-5 {
	background-image: url(../images/gallery/img-mock-05.png);
}
.sample-image-6 {
	background-image: url(../images/gallery/img-mock-06.png);
}
.sample-image-7 {
	background-image: url(../images/gallery/img-mock-07.png);
}


/*TEST*/
.grid {

}
.square-25test {
	position: relative;
	width: 24%;
	height: 24vmax;
	overflow: hidden;
	max-width: 300px;
	max-height: 300px;
	margin-bottom: 1vmax;
	margin-right: 1.333%;
}

.square-content {
	position: absolute;
	width:100%;
	height: 100%;
  
}
/*.square-25test:last-child:nth-child(odd) {
	margin-right: auto;
	margin-left: 1vmax;
}*/
.square-25test:nth-child(4n) {
	margin-right: 0;
	margin-left: unset;
}
.img-bkgd-contain {
	position:absolute;
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
  z-index: 0;
}
.text-content {
	padding: 1em;
	position: relative;
	font-weight: 600;
	line-height: 1.5em;
}

.text-hidden{
	position: absolute;
	font-weight: 600;
	line-height: 1.5em;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 1em;
	opacity: 0;
	box-sizing: border-box;
	z-index: 1;
}
.text-hidden:hover {
	opacity: 1;
}


/****************************
MEDIA QUERIES
****************************/

@media (max-width: 1040px) {
	.logo-item {
		height: 2em;
	}
	.pac-menu > div {
	    padding: 0.5em 1em 0.5em .5em;
	}

}
@media (max-width: 768px) {
	.pac-menu > div {
	    padding: 0.5em 1em 1em .5em;
	}
	.logo-item {
		position: fixed;
		z-index: 9;
		height: 2em;

	}
	.square-25test {
		width: 49%;
		height: 49vmin;
		max-width: none;
		max-height: none;
		margin-bottom: 1.333vmax;
		margin-right: unset;
	}
	/*.square-25test:nth-child(2n) {
		margin-left: .333vmax;
		margin-right: 0vmax;
	}*/
	.grid {
		justify-content: space-between;
	}
}

/*** TABLETS ***/
@media (max-width: 414px) {
	.square-25test {
		width: 100%;
		height: 100vmin;
	}
}